:root {
  font-family: 'Inter', 'Segoe UI', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f9f8f6;
  background-color: #030712;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #030712;
}
